<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Movie Database with Jinja</title>
</head>
<body>

    {% if not name%}
    <div id="main">
        <h2>Welcome to the SmartNinja movie database!</h2>
        {% if not message%}
            <p>To access our page, You need to login below. If You don't have an account yet, You can easily sign up <a href="/signup-main">here.</a></p>
            <div class="login-box">
                {% include "login.html" %}
            </div>
        {% else %}
            {{message}}<br>
            <div class="login-box">
                {% include "login.html" %}
            </div>
        {% endif %}
    </div>
    {% endif %}
    {% if name %}
    <div id="menubar">
        <div>
            <form method="post" action="/logout">
                <button class="logout_btn" type="submit">Logout</button>
            </form>
            <h4 id="menu">Welcome back, {{name}}</h4>
        </div>
    </div>
    <div id="center">
        <table>
            <tr>
                <th>Title</th>
                <th>Summary</th>
                <th>IMDB</th>
            </tr>
            {% for movie in movies %}
            <tr>
                <td>{{movie.title}}</td>
                <td>{{movie.summary}}</td>
                <td><a href="{{movie.imdb}}">Link</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</body>
</html>