<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Movie Database with Jinja</title>
</head>
<body>
    {% if not name%}
        <h2>Welcome to the SmartNinja movie database!</h2>
        {% if not message%}
            <p>To access our page, You need to login below. If You don't have an account yet, You can easily sign up <a href="/signup-main">here.</a></p>
            {% include "login.html" %}
        {% else %}
            {{message}}<br>
            {% include "login.html" %}
        {% endif %}
    {% endif %}
    {% if name %}
    <p>Welcome back, {{name}}</p>
    <table>
        <tr>
            <th>Title</th>
            <th>Summary</th>
            <th>IMDB</th>
        </tr>
        {% for movie in movies %}
        <tr>
            <td>{{movie.title}}</td>
            <td>{{movie.summary}}</td>
            <td><a href="{{movie.imdb}}">Link</a></td>
        </tr>
        {% endfor %}
    </table>
        <form method="post" action="/logout">
            <button class="inputbox" type="submit">Logout</button>
        </form>
    {% endif %}
</body>
</html>