<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Movie Database Signup</title>
</head>
<body>
    <p>Please add an e-mail address and a password if You want to join our page.</p>
    <form method="post" action="/signup">
        <input class="inputbox" type="email" name="username" placeholder="username"><br>
        <input class="inputbox" type="password" name="password" placeholder="password"><br>
        <button class="inputbox" type="submit">Signup</button>
    </form>
    {{message}}
</body>
</html>